body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  background: url('pozadina.jpg') no-repeat center center/cover;
}

.welcome-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.enter-btn {
  margin-top: 20px;
  padding: 15px 30px;
  background-color: #00b894;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.enter-btn:hover {
  background-color: #019875;
}